 :root{
        --header-height: 64px;
      }
      html { scroll-behavior: smooth; }
      *, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
      body { 
        background: #000; 
        overflow-x: hidden; 
        color: #fff; 
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-style: normal;
      }
      .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: var(--header-height);
        padding: 0.5rem 1rem;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);

        .link{
          color: #e3e3e3;
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 400;
          padding: .5rem 1rem;
          text-decoration: none;
          letter-spacing: 0.025em;
          transition: color .1s ease;
          &:hover{
            color: #fff;
            &:after{
              transform: scaleX(1);
            }
          }
          &.is-active{
            text-decoration: underline;
            text-underline-offset: 5px;
          }

          sup{
            background: -webkit-linear-gradient(#00f2ff, #66ff00);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          &.link-button{
            color: #000;
            background-color: #fff;
          }
        }
        h1{
          font-size: 1rem;
          line-height: 1;
          color: inherit;
          text-transform: uppercase;
        }
        p{
          font-size: 0.8rem;
          line-height: 1.6;
          color: inherit;
        }
      }

      .section {
        position: relative;
        min-height: 100svh;
      }

      .section-placeholder{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 60svh;
        background-color: #770000;
        > * {
            text-transform: uppercase;
            font-size: 1.2rem;
        }
      }

      canvas{
        pointer-events: none;
      }

      .spline-wrap {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100svh;
        z-index: 0;
      }
      .spline-wrap canvas {
        display: block;
        width: 100% !important;
        height: 100% !important;
      }
      .scroll-spacer {
        height: 200svh;
        &.scroll-spacer--no-pin{
            height: 100svh;
        }
      }